<% include partials/header%>
<h1>Create a new CampSite</h1>

<form action="/campgrounds" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="img" placeholder="imageURL">
    <button>Submit!</button>    
</form>
<% include partials/footer%>